/*main container class when header type is colored*/
.coverContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10vh;
}

/*main container class when header type is transparent*/
.coverContainerHeaderTransparent {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 10vh;
}

/*main image class when header type is colored*/
.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: -1;
  object-fit: cover;
}
/*main image class when header type is transparent*/
.imageContainerHeaderTransparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
  object-fit: cover;
}

.overLayDivBehindImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000d6;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.55;
}

/*media query when header type is colored*/
@media (min-width: 320px) and (max-width: 599px) {
  .imageContainer {
    height: 323px;
  }
  .coverContainer {
    height: 323px;
  }
}

/*media query when header type is transparent*/
@media (min-width: 320px) and (max-width: 599px) {
  .imageContainerHeaderTransparent {
    height: 423px;
  }
  .coverContainerHeaderTransparent {
    height: 423px;
  }
}
