.leftArrow {
  position: absolute;
  left: 10px;
  top: 35%;
  width: 43px;
  height: 43px;
  cursor: pointer;
  color: transparent;
}
.rightArrow {
  position: absolute;
  right: 10px;
  top: 35%;
  width: 43px;
  height: 43px;
  cursor: pointer;
  color: transparent;
}
.boxArrow:hover .leftArrow {
  color: inherit;
}
.boxArrow:hover .rightArrow {
  color: inherit;
}
